@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
    background-color: #707070;
}

footer a,
footer label {
    color: #ffffff !important;
}

.blur {
    filter: blur(25px);
    -webkit-filter: blur(25px);
}

.login-feature {
    background-image: url("../img/login-feature.jpg");
    background-size: cover;
}

.register-feature {
    background-image: url("../img/register-feature.jpg");
    background-size: cover;
}

.section-header {
    background-color: #4299e1 !important;
    border-color: #4299e1 !important;
    color: #ffffff !important;
}
